notifications:
  recipients:
    - groonga-ci-notify@rubyforge.org
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
before_install:
  - curl --silent --location https://github.com/groonga/groonga/raw/master/data/travis/setup.sh | sh
